* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

.navi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: auto;
  position: relative;
  background-color: lightblue;
}

.navi img {
  width: 100%;
  opacity: 0.85;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  width: 900px;
  position: absolute;
  top: 150px;
  right: 100px;
  background-color: teal;
  border-radius: 10px;
}

.navbar li {
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 1.7em;
}

.nadpisy {
  font-size: 3.5em;
}

.uvod {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  font-size: 1.7em;
  line-height: 35px;
  margin-top: 80px;
  text-align: left;
}

.ods-one {
  width: 70%;
  margin-top: 50px;
}

.ods-two {
  width: 70%;
  margin-left: 100px;
}

.obj {
  margin-top: 80px;
  font-size: 4em;
  text-transform: uppercase;
}

.cara {
  width: 100%;
  border-bottom: 1px solid grey;
  margin-top: 20px;
}

section {
  margin-top: 50px;
}

.macho {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.kont-mach {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50rem 50rem;
      grid-template-columns: 50rem 50rem;
}

.kont-mach img {
  width: 100%;
  z-index: -1;
}

.text-mach, .text-kli {
  position: absolute;
  width: 35%;
  margin-top: 120px;
}

.text-mach p, .text-pan p, .text-kli p {
  font-size: 1.5em;
}

.panska {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
}

.kont-pan {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50rem 50rem;
      grid-template-columns: 50rem 50rem;
}

.kont-pan img {
  width: 80%;
  z-index: -1;
}

.text-pan {
  position: absolute;
  width: 35%;
  left: 50%;
}

.klic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
}

.kont-kli {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50rem 50rem;
      grid-template-columns: 50rem 50rem;
}

.kont-kli img {
  width: 100%;
  margin-top: 50px;
  z-index: -1;
}

.spodek {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: teal;
  padding: 50px;
  margin-top: 150px;
}

.spodek-ob {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  text-align: center;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spodek-ob h3 {
  font-size: 2.2em;
  text-transform: uppercase;
}

.spodek-ob button {
  margin-top: 30px;
  background-color: yellow;
  border-radius: 25px;
  font-size: 2em;
  border: none;
  padding: 10px 0px;
  width: 200px;
}

.spodek-ob button:hover {
  cursor: pointer;
  background-color: #ffff74;
}

.media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  bottom: 70px;
  left: 700px;
}

.media img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70px;
}

.by {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.vyskok {
  width: 100%;
  height: 100%;
}

.okno {
  width: 800px;
  background-color: yellow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  padding: 50px;
  border-radius: 20px;
  opacity: 0.99;
  position: absolute;
  top: 2950px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.cls {
  width: 50px;
  position: relative;
  left: 720px;
  bottom: 70px;
  cursor: pointer;
}

.kontakt {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4rem 8rem 25rem;
      grid-template-columns: 4rem 8rem 25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.kontakt img {
  width: 50px;
}

.okno h1 {
  font-size: 2.5em;
  margin-top: 20px;
  text-align: center;
}

.okno textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  -webkit-box-shadow: 0px 0px 5px grey;
          box-shadow: 0px 0px 5px grey;
  width: 500px;
}

.snd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  width: 200px;
  padding: 10px 0px;
  border-radius: 25px;
  font-size: 2em;
  border: none;
  margin-top: 40px;
  background-color: #5cb85c;
  cursor: pointer;
  color: white;
}

.schovany {
  opacity: 0;
  z-index: 20;
}

.dozadu {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.zaklik {
  opacity: 0.7;
  background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 1600px) {
  .navbar {
    width: 700px;
  }
  .kont-mach, .kont-pan, .kont-kli {
    -ms-grid-columns: 40rem 45rem;
        grid-template-columns: 40rem 45rem;
  }
  .panska, .klic, .spodek {
    margin-top: 200px;
  }
  .okno {
    top: 3100px;
  }
  .media {
    left: 500px;
  }
}

@media (max-width: 1450px) {
  .navbar {
    width: 600px;
  }
  .kont-mach, .kont-pan, .kont-kli {
    -ms-grid-columns: 40rem 40rem;
        grid-template-columns: 40rem 40rem;
  }
  .panska, .klic, .spodek {
    margin-top: 300px;
  }
  .okno {
    top: 3300px;
  }
}

@media (max-width: 1350px) {
  .navbar {
    top: 100px;
  }
  .kont-mach, .kont-pan, .kont-kli {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .text-mach, .text-pan, .text-kli {
    left: unset;
    margin-top: 0px;
    text-align: center;
    width: 60%;
  }
  .kont-mach img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60%;
    margin-top: 220px;
  }
  .kont-pan img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60%;
    margin-top: 400px;
  }
  .kont-kli img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60%;
    margin-top: 250px;
  }
  .panska {
    margin-top: 50px;
  }
  .klic {
    margin-top: 150px;
  }
  .kont-mach h1, .kont-kli h1 {
    position: relative;
    bottom: 80px;
  }
  .macho, .spodek {
    margin-top: 100px;
  }
  .media {
    width: 200px;
    left: 400px;
  }
  .media img {
    width: 70%;
  }
  .okno {
    top: 4000px;
  }
}

@media (max-width: 1250px) {
  .navbar {
    width: 500px;
  }
  .kont-kli img {
    margin-top: 300px;
  }
}

@media (max-width: 1200px) {
  .kont-mach img {
    margin-top: 280px;
  }
  .kont-pan img {
    margin-top: 450px;
  }
  .kont-kli img {
    margin-top: 330px;
  }
  .okno {
    top: 4050px;
  }
}

@media (max-width: 1150px) {
  .okno {
    top: 4000px;
  }
}

@media (max-width: 1050px) {
  .navbar {
    width: 400px;
    top: 80px;
  }
  .navbar a {
    font-size: 1.5em;
  }
  .kont-mach img {
    margin-top: 320px;
  }
  .kont-pan img {
    margin-top: 500px;
  }
  .kont-kli img {
    margin-top: 400px;
  }
  .media {
    width: 200px;
    left: 300px;
  }
  .okno {
    top: 4150px;
  }
}

@media (max-width: 1000px) {
  .okno {
    top: 4050px;
  }
}

@media (max-width: 930px) {
  .navbar {
    right: 50px;
    top: 50px;
  }
  .kont-mach img {
    margin-top: 400px;
  }
  .kont-pan img {
    margin-top: 550px;
  }
  .kont-kli img {
    margin-top: 420px;
  }
  .okno {
    top: 4200px;
  }
}

@media (max-width: 840px) {
  .navbar {
    width: 300px;
    right: 80px;
  }
  .navbar a {
    font-size: 1.2em;
  }
  .uvod h1 {
    font-size: 3em;
  }
  .media {
    position: unset;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .okno {
    width: 600px;
  }
  .okno h1 {
    font-size: 2em;
  }
  .kontakt {
    -ms-grid-columns: 4rem 8rem 18rem;
        grid-template-columns: 4rem 8rem 18rem;
  }
  .cls {
    left: 520px;
  }
}

@media (max-width: 800px) {
  .uvod .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
    text-align: center;
  }
  .uvod .text {
    margin-top: 0px;
  }
  .ods-two {
    margin-top: 40px;
    margin-left: 0px;
  }
  .kont-mach img {
    margin-top: 450px;
  }
  .kont-pan img {
    margin-top: 600px;
  }
  .kont-kli img {
    margin-top: 500px;
  }
  .okno {
    top: 4320px;
  }
}

@media (max-width: 700px) {
  .uvod h1, .nadpisy {
    font-size: 2.5em;
  }
  .uvod .text {
    width: 85%;
  }
  .kont-mach img {
    margin-top: 550px;
  }
  .kont-pan p {
    margin-top: 20px;
  }
  .kont-pan img {
    margin-top: 700px;
  }
  .kont-kli img {
    margin-top: 600px;
  }
  .okno {
    width: 420px;
    top: 4470px;
  }
  .okno h1 {
    font-size: 1.5em;
  }
  .okno textarea {
    width: 250px;
  }
  .kontakt {
    -ms-grid-columns: 2.5rem 4rem 17rem;
        grid-template-columns: 2.5rem 4rem 17rem;
    gap: 10px;
  }
  .kontakt img {
    width: 80%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
  }
  .cls {
    left: 340px;
  }
}

@media (max-width: 670px) {
  .navbar {
    width: 270px;
    right: 20px;
  }
  .navbar a {
    font-size: 1.1em;
  }
  .uvod h1, .nadpisy {
    font-size: 2em;
  }
  .text p {
    font-size: 0.7em;
  }
  .text-mach, .text-pan, .text-kli {
    font-size: 0.7em;
    line-height: 35px;
  }
  .okno {
    top: 4150px;
  }
}

@media (max-width: 600px) {
  .navbar {
    top: 20px;
    right: 10px;
    width: 250px;
  }
}

@media (max-width: 530px) {
  .navbar a {
    font-size: 1em;
  }
  .kont-mach img {
    margin-top: 600px;
  }
  .kont-pan img {
    margin-top: 750px;
  }
  .kont-kli img {
    margin-top: 650px;
  }
  .okno {
    width: 300px;
    top: 4280px;
  }
  .okno h1 {
    font-size: 1.1em;
  }
  .okno textarea {
    width: 180px;
  }
  .kontakt {
    -ms-grid-columns: 2rem 3rem 10rem;
        grid-template-columns: 2rem 3rem 10rem;
    gap: 15px;
  }
  .kontakt img {
    width: 100%;
  }
  .cls {
    left: 230px;
    bottom: 60px;
    width: 30px;
  }
  .snd {
    font-size: 1.2em;
    width: 150px;
  }
}

@media (max-width: 470px) {
  .navbar {
    top: 110%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
    border-radius: 0px;
  }
  .uvod h1 {
    font-size: 1.5em;
  }
  .text-pan h1 {
    font-size: 2.5em;
  }
  .kont-mach img {
    margin-top: 650px;
  }
  .kont-pan img {
    margin-top: 800px;
  }
  .kont-kli img {
    margin-top: 700px;
  }
  .okno {
    top: 4380px;
  }
}

@media (max-width: 420px) {
  .text p {
    font-size: 0.6em;
  }
  .text-mach, .text-pan, .text-kli {
    font-size: 0.6em;
    width: 80%;
  }
  .kont-mach img {
    margin-top: 500px;
  }
  .kont-pan img {
    margin-top: 650px;
  }
  .kont-kli img {
    margin-top: 550px;
  }
  .okno {
    top: 3850px;
  }
}

@media (max-width: 390px) {
  .navbar {
    top: 120%;
  }
  .uvod h1, .nadpisy {
    font-size: 1.3em;
  }
  .text-pan h1 {
    font-size: 2.3em;
  }
  .uvod .text {
    width: 100%;
  }
  .by {
    font-size: 0.8em;
  }
  .okno {
    top: 3700px;
  }
}

@media (max-width: 350px) {
  .kont-mach img {
    margin-top: 570px;
  }
  .kont-pan img {
    margin-top: 720px;
  }
  .kont-kli img {
    margin-top: 630px;
  }
  .okno {
    top: 3900px;
  }
}

@media (max-width: 320px) {
  .okno {
    top: 4050px;
  }
}
/*# sourceMappingURL=style.css.map */